@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

/* ROOT VARIABLES */ 
:root {
    --nav-bg-color: rgb(33, 48, 48);
    --bg-color: rgb(80, 116, 79);
    --second-bg-color: rgb(123, 174, 127);
    --third-bg-color: rgb(154, 193, 158);
    --main-color: rgb(115, 149, 111);
    --white-color: rgb(237, 247, 233);
    --tab-list-color: rgb(59, 85, 58);
}

* {
    font-family: "Sour Gummy", sans-serif;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

h1 {
    font-size: 7rem;
    margin: 0 0 1rem 0;
    color: var(--white-color);
}

h2 {
    color: var(--white-color);
}

p {
    color: var(--white-color);
}

.dev-log {
    margin-left: 400px;
    width: 600px;
    padding: 40px 20px;
}

.dev-log-box {
    background: var(--third-bg-color);
    border-radius: 20px;
    padding: 30px;
    max-width: 700px;
}

/* Entries inside the box */
.log-entry {
    background: var(--second-bg-color);
    border-radius: 12px;
    padding: 12px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 8px 16px;
    border-radius: 10px;
    border: none;
    background: var(--main-color);
    color: var(--white-color);
    cursor: pointer;
}

button:hover {
    background: var(--tab-list-color);
}


textarea {
    width: 100%;
    height: 150px;
    border-radius: 12px;
    border: none;
    padding: 12px;
    font-size: 1rem;
}
