@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

/* ROOT VARIABLES */ 
:root {
    --nav-bg-color: rgb(33, 48, 48);
    --bg-color: rgb(80, 116, 79);
    --second-bg-color: rgb(123, 174, 127);
    --third-bg-color: rgb(154, 193, 158);
    --main-color: rgb(115, 149, 111);
    --white-color: rgb(237, 247, 233);
    --tab-list-color: rgb(59, 85, 58);
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Sour Gummy', cursive;
}

/* SELECTION AND SCROLLBAR */
::selection {
    background: var(--main-color);
    color: var(--bg-color);
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 1rem;
}

::placeholder {
    color: var(--white-color);
}

/* BASE STYLES */
html { 
    font-size: clamp(55%, 1vw + 50%, 65%);
}

body {
    color: var(--white-color);
    background: rgb(80, 116, 79);
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: clamp(2.5rem, 5vw, 4rem);
}

p {
    font-size: clamp(1.4rem, 2.5vw, 2rem);
}

/* NAVIGATION */
.nav {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem 0;
    background: var(--nav-bg-color);
    border-radius: 5rem;
    z-index: 100;
    width: min(90%, 50rem);
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
}

.nav-list li {
    position: relative;
    display: flex;
    font-size: 3rem;
    cursor: pointer;
    transition: 0.3s;
}

.nav-list li:hover,
.nav-list li.active {
    color: var(--main-color);
}

/* TOOLTIP */
.tooltip {
    position: absolute;
    top: -4rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.3rem 1rem;
    background: var(--main-color);
    border-radius: 0.4rem;
    font-size: 1.6rem;
    color: var(--white-color);
    font-weight: 500;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.nav-list li:hover .tooltip,
.sci a:hover .tooltip, 
.portfolio-item:hover .work-info {
    opacity: 1;
    visibility: visible;
}

/* CONTAINER */
.container {
    width: 100%;
    height: 100vh;
    perspective: 1500px;
    perspective-origin: 50%;
}

/* 3D BOX */
.box {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform-origin: 50% 50% -50vw;
    transform: rotateY(0deg);
}

.section {
     position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    padding: 0;

    display: none;
}

.section.contact.action-contact {
    transition-delay: 1.5s;
}

.section {
    visibility: hidden;
}

.section.active {
    visibility: visible;
     display: block;
}

/* BUTTONS */
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1.4rem 3.2rem;
    background: var(--main-color);
    border-radius: 5rem;
    box-shadow: 0 0 20px var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover {
    box-shadow: 0 0 10px var(--main-color);
}

/* SOCIAL BUTTONS */
.btn-sci {
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-top: 3rem;
}

.btn-sci .sci a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    transition: 0.3s;
}

.btn-sci .sci a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 15px var(--main-color);
}

/*TITLES*/
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between; /* pushes them apart */
    align-items: center;            /* keeps them level */
    padding: 1rem 2rem;
    z-index: 1000;
}

.title {
    margin: 0;
}

.title-home{
    text-align: center;
    font-size: 7rem;
}

.due-date {
    margin: 0;
}

/*BUTTONS*/
.buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centers perfectly */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    color: var(--tab-list-color);
}

.buttons a {
    background-color: var(--tab-list-color);
    color: var(--white-color);              /* text color */
    border: 2px solid var(--tab-list-color);
    font-size: clamp(1.6rem, 3vw, 3rem);
    padding: clamp(0.8rem, 2vw, 1.4rem)
             clamp(1.5rem, 4vw, 3rem);
    border-radius: 12px;                    /* slightly bigger rounding */
    text-decoration: none;                  /* removes underline */
    transition: 0.3s;
}

.buttons a:hover {
    background-color: var(--tab-list-color);
    color: var(--third-bg-color);
    border-color: var(--third-bg-color);
}

.game-buttons {
    position: absolute;
    top: 80%;
    right: 5%;
    transform: translate(-50%, -50%); /* centers perfectly */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    color: var(--tab-list-color);
}

.game-buttons a {
    background-color: var(--tab-list-color);
    color: var(--white-color);              /* text color */
    border: 2px solid var(--tab-list-color);
    padding: 1rem 2rem;                     /* bigger buttons */
    font-size: 3rem;                      /* bigger text */
    border-radius: 12px;                    /* slightly bigger rounding */
    text-decoration: none;                  /* removes underline */
    transition: 0.3s;
}

.dissertation-buttons {
    position: absolute;
    top: 70%;
    left: 85%;
    transform: translate(-50%, -50%); /* centers perfectly */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    color: var(--tab-list-color);
}

.dissertation-buttons a {
    background-color: var(--tab-list-color);
    color: var(--white-color);              /* text color */
    border: 2px solid var(--tab-list-color);
    padding: 1rem 2rem;                     /* bigger buttons */
    font-size: 2.5rem;                      /* bigger text */
    border-radius: 12px;                    /* slightly bigger rounding */
    text-decoration: none;                  /* removes underline */
}

/*Calender*/

.calender {
    width: min(450px);   /* bigger overall */
    padding: 20px;            /* more breathing room */
    border-radius: 14px;
    height: 400px; 
    align-self: flex-end; 
    flex-direction: column;
    background: var(--third-bg-color);
    box-shadow: 0 0 10px var(--third-bg-color);
    margin-left: 5%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50px;
    background: var(--third-bg-color);
    cursor: pointer;
    width: 40px;
    height: 40px; 
    box-shadow: 0 0 4px var(--nav-bg-color);
}

.days {
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.day{
    text-align: center;
    padding: 5px;
    color: var(--white-color);
    font-weight: 500;
    font-size: 1.5rem;
}

.dates {
    display: grid; 
    grid-template-columns: repeat(7, 1fr);
}

.date {
    text-align: center;
    padding: 10px 0;
    font-size: 1.5rem;
}

.date.inactive {
    opacity: 0.3;
}

.date.active {
    background: var(--main-color);
    border-radius: 50%;
}

.monthYear {
    font-size: 2rem;
}

.header button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: var(--main-color);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;              /* removes offset */
    cursor: pointer;
}

.header button i {
    font-size: 2.6rem;
    color: var(--nav-bg-color);
    line-height: 1;          /* THIS centers it vertically */
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Timeline*/ 

.timeline-title {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.timeline {
    margin: 0 auto;
    max-width: 750px;
    padding: 25px; 
    display: grid;
    color: var(--white-color);
    width: min(450px);   /* bigger overall */
    padding: 20px;            /* more breathing room */
    border-radius: 14px;
    height: 400px; 
    flex-direction: column;
    background: var(--third-bg-color);
    box-shadow: 0 0 10px var(--third-bg-color);
    margin-left: 60%;
    position: absolute; 
    top: 15%;
}

.timeline-text {
    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: 2rem;
    column-gap: 3rem;
    align-items: center;
}

.timeline-text-header {
    font-size: 2rem;
}

.timeline-text-text {
    font-size: 1.4rem;
    text-align: right;
}

/*Task Manager*/ 
.input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    margin-top: 20px;
    justify-content:flex-start;
}

.tasks-p {
    padding-top: 90px;
}

input, select, button {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--white-color);
}

button {
    background: var(--second-bg-color);
    color: var(--white-color);
    border: none;
    cursor: pointer;
}

button:hover {
    background: var(--second-bg-color)
}

table {
    width: 50%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid var(--white-color); 
    text-align: center;
}

.delete-btn {
    background: red;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--white-color);
    cursor: pointer;
}

@media (max-width: 768px) {

    body {
        overflow-y: auto;
    }

    .nav {
        bottom: 1rem;
        padding: 1.2rem 0;
    }

    .buttons {
        gap: 2rem;
    }

    .timeline-text {
        position: static;
        grid-template-columns: 1fr;
        margin-top: 2rem;
    }

    table {
        width: 100%;
    }
}